html {

	background-image: url("background.jpg");
}

p{

font-size: 20px;
color: #FFFFFF;
position: relative;
margin-left: auto;
margin-right: auto; 
}

button {

 position: relative;
    background-color: #900C3F;
    border: none;
    font-size: 15px;
    color: #FFFFFF;
    padding: 15px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

button:after {
    content: "";
    background: #bc6d8b;
    display: block;
    position: absolute;
    padding-top: 200%;
    padding-left: 150%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

#search {

width: 300px;
    height: 50px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 1px 1px;
    background-size: 40px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;

}